---
const menu = ["HOME", "ABOUT", "SERVICE","HELP"]
---
<ul>
    {menu.map(Element => <li><a href="">{Element}</a></li>)}
</ul>

<style>

    ul{
        width: 60%;
        height: ;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
 
    }
    li {
        margin-left: 50px;

    }
    a{
        color: white;
        text-decoration: none;
    }

</style>